{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}
 
  <div class="col-12 col-sm-4">
    <div class="card" style="height: 95%; width: 100%; padding: 12%;">
      <div class="skill-desc">
        <h3 class="skill-desc-title"><i class="fas fa-desktop"></i>フロントエンド</h3>
        <p>直近ではAngularJSを使用して開発していました。</p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">技術</th>
              <th scope="col">経験</th>
              <th scope="col">スキル</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">javascrpt</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate5"></p></span></td>
            </tr>
            <tr>
              <th scope="row">jQuery</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate3"></p></span></td>
            </tr>
            <tr>
              <th scope="row">AngularJS</th>
              <td>1年
              </td><td><span class="rating"><p class="rate rate4"></p></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="card" style="height: 95%; width: 100%; padding: 12%;">
      <div class="skill-desc">
        <h3 class="skill-desc-title"><i class="fas fa-desktop"></i>フロントエンド</h3>
        <p>直近ではAngularJSを使用して開発していました。</p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">技術</th>
              <th scope="col">経験</th>
              <th scope="col">スキル</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">javascrpt</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate5"></p></span></td>
            </tr>
            <tr>
              <th scope="row">jQuery</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate3"></p></span></td>
            </tr>
            <tr>
              <th scope="row">AngularJS</th>
              <td>1年
              </td><td><span class="rating"><p class="rate rate4"></p></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="card" style="height: 95%; width: 100%; padding: 12%;">
      <div class="skill-desc">
        <h3 class="skill-desc-title"><i class="fas fa-desktop"></i>フロントエンド</h3>
        <p>直近ではAngularJSを使用して開発していました。</p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">技術</th>
              <th scope="col">経験</th>
              <th scope="col">スキル</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">javascrpt</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate5"></p></span></td>
            </tr>
            <tr>
              <th scope="row">jQuery</th>
              <td>2年</td>
              <td><span class="rating"><p class="rate rate3"></p></span></td>
            </tr>
            <tr>
              <th scope="row">AngularJS</th>
              <td>1年
              </td><td><span class="rating"><p class="rate rate4"></p></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
