{{ $ := .root }}
{{ $page := .page }}

<div class="row featurette">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $elem_index, $elem_val := sort $page.Params.skill "order" "asc"}}
    <div class="col-12 col-sm-6">
      <div class="card">
        <div class="skill-desc">
          {{ $pack := or $elem_val.icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
            {{ $pack_prefix = "fa" }}
          {{ end }}
          <h3 class="skill-desc-title">
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ $elem_val.icon }}"></i>{{ $elem_val.title }}
          </h3>
          <p>{{ $elem_val.memo }}</p>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">技術</th>
                <th scope="col">経験</th>
                <th scope="col">スキル</th>
              </tr>
            </thead>
            <tbody>
              {{ range $resume_index, $resume_val := $elem_val.resume }}
              <tr>
                <th scope="row">{{ $resume_val.name }}</th>
                <td>{{ $resume_val.experience }}</td>
                <td><span class="rating"><p class="rate rate{{ $resume_val.rate }}"></p></span></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  {{ end }}
</div>
